/1. DataServer
/2. ConnectServer
/3. GameServer_N
/3. GameServer_N_3
/3. GameServer_N_4
/3. GameServer_N_5
/5. GameServer_C
/72e8a208b978b80f07160d
/databases
/databases-latest
/DB Backups
/emptydb
/IGC.EssentialTools
/IGC.EssentialTools.old
/IGC.HardwareID Generator_1.0.0.0
/IGC.Launcher.Server v1.0.1.15
/Server
/ToolKi.HWID
/alldata.rar
/IGC.EssentialTools
/$RECYCLE.BIN